*,
*::before,
*::after {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    text-align: center;
    background-color: #E6E6E6;
}

header {
    padding: 16px;
}

h1 {
    font-size: 32px;
}


p {
    font-size: 16px;
}

#pagesBtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px auto;
    width: 100%;
    height: 30px;
    /* border: 1px solid green; */

}

.button {
    border: none;
    color: white;
    width: 80px;
    height: 30px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 50px 20px; */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4%;
}

.button5 {
    background-color: white;
    color: black;
}

.button5:hover {
    background-color: #014b70;
    color: white;
}

.button5.active {
    background-color: #014;
    color: white;
}

#pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}