/* General styling parameters */
*,
*::before,
*::after {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    text-align: center;
    background-color: #E6E6E6;
}

header {
    padding: 12px;

}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 30px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    padding: 2px;
}

input {
    width: 70px;
    height: 30px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: small;
}


.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.page-button {
    width: 72px;
    height: 30px;
    padding: 6px;
    background-color: white;
    color: black;
}

.page-button:hover {
    background-color: #014b70;
    color: white;
}

.page-button.active {
    background-color: #014;
    color: white;
}

#pages_button_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 8px auto;
    width: 100%;
    height: 30px;
}

#pages_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 80%;
    margin: 0 auto;
}

/* Rings styling parameters */
.rings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
}

.rings-input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.rings-output-container {
    display: flex;
    flex-direction: row;
    /* padding: 10px; */
}

.rings-outputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
}

#rings_input {
    width: 110px;
}

/* Impedance styling parameters */
.impedance-input {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    padding: 0 4px;
}

.impedance-container input {
    width: 100px;
}

.impedance-output-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

.impedance-outputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.impedance-outputs input {
    margin: 4px
}

/* Circuits Count styling parameters */
.circuits-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
}

.engineers-inputs {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}
#engineers-input {
    display: flex;
    justify-content: center;
    width: 100%;
}

#engineers-input input {
    margin-left: 18%;
}

.engineers-inputs p {
    display: flex;
    justify-content: flex-start;
}

.circuits-outputs-container,
.circuits-input-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    row-gap: 10px;
}

.circuits-outputs,
.circuits-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.circuits-inputs p {
    align-self: flex-end;
    margin-bottom: 2.5px;
}

.phases-container {
    display: flex;
    flex-direction: row;
    gap: 5px;

}
